*{
    margin: 0;
    padding: 0;
}
.pclass{
    position: absolute;
    height: 100px;
    width: 100px;
    float: left;
    left: 50%;
    top: 50%;
    background-color: bisque;

    /*display: block;*/
}

#only{
    size: 18px;
    background-color: yellow;
}

[name]{
    background-color: lightgrey;
    width: 300px;
    height: 100px;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
}

